<%- include partials/head.ejs %>

<body>
  <h1 class="sr-only">Music Collection</h1>
  <section class="primary-nav">
    <a href="/">
      <h2><%= title %></h2>
    </a>
    <%- include partials/nav.ejs %>
  </section>
  <section class="primary-content">
    <h2 class="sr-only">Music Cards</h2>
    <p>Select Music From the Library!</p>
    <div class="cards">

    </div>
  </section>
  <div class="sr-only sort"><%= genre %></div>
  <%- include partials/scripts.ejs %>
</body>

</html>
